In [1]:
import pandas as pd
import numpy as np

In [91]:
headlines = pd.read_csv('../data/processed/headlines_cl_sent_pol_rapi.csv')

,Unnamed: 0,Unnamed: 0.1,url,headline,time,scrape_date,site,monthly_visits,country,country_of_pub,...,clean_hl_words,clean_hl_words_no_women,compound_s,positive_s,negative_s,neutral_s,hl_words,gendered,bias,polarity
0,0,0,https://www.iol.co.za/entertainment/movies-the...,'Lady Bird' buzzes through young sexuality - I...,2018-02-23 08:00:00,15/05/2021,iol.co.za,0,South Africa,South Africa,...,"{'sexuality', 'young', 'buzz', 'bird'}","['bird', 'buzz', 'young', 'sexuality']",0.0000,0.000,0.000,1.000,"{'young', ""bird'"", 'through', 'buzzes', 'sexua...",0,0,0.0000
1,1,1,https://www.iol.co.za/entertainment/music/the-...,The shadowy urban POP super Starrah who loves ...,2018-01-10 08:00:00,15/05/2021,iol.co.za,0,South Africa,South Africa,...,"{'shadowy', 'starrah', 'super', 'privacy', 'po...","['shadowy', 'urban', 'pop', 'super', 'starrah'...",0.8225,0.487,0.000,0.513,"{'shadowy', 'super', 'starrah', 'who', 'pop', ...",1,1,0.8225
2,2,2,https://www.iol.co.za/entertainment/celebrity-...,Rihanna pens heartfelt tribute to her mom in b...,2018-02-21 08:00:00,15/05/2021,iol.co.za,0,South Africa,South Africa,...,"{'mom', 'tribute', 'heartfelt', 'pen', 'birthd...","['rihanna', 'pen', 'heartfelt', 'tribute', 'mo...",0.5423,0.280,0.000,0.720,"{'mom', 'tribute', 'heartfelt', 'pens', 'to', ...",1,2,0.5423
3,3,3,https://www.iol.co.za/news/south-africa/wester...,Shock as woman accused of killing teen girlfri...,2018-02-27 08:00:00,15/05/2021,iol.co.za,0,South Africa,South Africa,...,"{'teen', 'shock', 'kill', 'laugh', 'court', 'a...","['shock', 'accuse', 'kill', 'teen', 'girlfrien...",-0.7184,0.165,0.474,0.361,"{'teen', 'shock', 'as', 'of', 'court', 'killin...",1,2,0.7184
4,4,4,https://www.iol.co.za/business-report/careers/...,TOP STORY: Meet South Africa's new first lady ...,2018-02-15 08:00:00,15/05/2021,iol.co.za,0,South Africa,South Africa,...,"{'new', 'south', 'africa', 'motsepe', 'story',...","['story', 'meet', 'south', 'africa', 'new', 't...",0.3680,0.220,0.000,0.780,"{'new', 'south', 'motsepe', ""africa's"", 'tshep...",1,1,0.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298078,298078,298078,https://www.businessinsider.co.za/lady-gaga-fa...,Lady Gaga is facing a backlash after launching...,2019-07-16 07:00:00,15/05/2021,Businessinsider.co.za,15000000,South Africa,South Africa,...,"{'beauty', 'backlash', 'launch', 'face', 'gaga...","['gaga', 'face', 'backlash', 'launch', 'beauty...",0.5859,0.275,0.000,0.725,"{'beauty', 'backlash', 'a', 'launching', 'afte...",1,2,0.5859
298079,298079,298079,https://www.businessinsider.co.za/trump-epstei...,A new report claims Trump hosted a party for a...,2019-07-10 07:00:00,15/05/2021,Businessinsider.co.za,15000000,South Africa,South Africa,...,"{'new', 'trump', 'report', 'trafficking', 'sex...","['new', 'report', 'claim', 'trump', 'host', 'p...",0.2263,0.132,0.088,0.780,"{'new', 'for', 'claims', 'report', 'trump', 't...",0,0,0.2263
298081,298081,298081,https://www.businessinsider.co.za/watch-more-a...,Watch: More women are having babies in their 3...,2019-07-24 07:00:00,15/05/2021,Businessinsider.co.za,15000000,South Africa,South Africa,...,"{'healthy', 'baby', '30', '20', 'have', 'run',...","['watch', 'have', 'baby', '30', '20', 'study',...",0.0000,0.000,0.000,1.000,"{'women', 'and', 'their', 'long', 'the', ""it's...",1,1,0.0000
298082,298082,298082,https://www.businessinsider.co.za/this-teenage...,This teenage quadruple amputee is inspiring ot...,2019-07-07 07:00:00,15/05/2021,Businessinsider.co.za,15000000,South Africa,South Africa,...,"{'beauty', 'tutorial', 'inspire', 'teenage', '...","['teenage', 'quadruple', 'amputee', 'inspire',...",0.7650,0.423,0.000,0.577,"{'beauty', 'this', 'others', 'tutorials', 'wit...",1,1,0.7650
298083,298083,298083,https://www.businessinsider.co.za/photos-celeb...,These plus-size Asian women posed in ball gown...,2019-08-07 07:00:00,15/05/2021,Businessinsider.co.za,15000000,South Africa,South Africa,...,"{'plus', 'shoot', 'ball', 'photo', 'statement'...","['plus', 'size', 'asian', 'pose', 'ball', 'gow...",0.1531,0.123,0.098,0.779,"{'women', 'to', 'representation', 'photo', 'go...",1,1,0.1531

In [92]:
headlines.drop_duplicates(subset = ['clean_hl_words'], inplace = True)

In [4]:
countries_freq = pd.read_csv('../data/processed/countries_freq_rapi.csv')

In [5]:
countries_freq

        Unnamed: 0         word  frequency       country
0                0          man        616  South Africa
1                1           sa        568  South Africa
2                2         kill        552  South Africa
3                3        watch        541  South Africa
4                4         rape        481  South Africa
...            ...          ...        ...           ...
110905       29351       rogers          1         India
110906       29352    pocketful          1         India
110907       29353       blasts          1         India
110908       29354  candlelight          1         India
110909       29355    digangana          1         India

[110910 rows x 4 columns]

In [93]:
headlines['time']= headlines.time.str.split('+', expand=True)[0]

In [94]:
df = headlines[['clean_hl_words', 'country', 'time']]

In [95]:
from datetime import datetime
df['time'] = df['time'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

<ipython-input-95-6351246ca3f1>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [96]:
df['clean_hl_words'] = df['clean_hl_words'].str.replace('{', '')
df['clean_hl_words'] = df['clean_hl_words'].str.replace('}', '')
df['clean_hl_words'] = df['clean_hl_words'].str.split(",")

<ipython-input-96-68623b5807f2>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-96-68623b5807f2>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-96-68623b5807f2>:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [97]:
%%time
freq = df.set_index('time').groupby([pd.Grouper(freq = 'Y'), 'country']).sum()

Wall time: 1min 54s

In [110]:
df['year']= df['time'].dt.year

<ipython-input-110-254362376b42>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [114]:
df.groupby(['year', 'country']).sum()

                                                      clean_hl_words
year country
2005 India         ['aug',  'son',  'monster',  'rudolph',  'not'...
     South Africa                     ['monroe',  'stand',  'night']
     UK            ['call',  'kill',  'parent', 'man',  'motel', ...
     USA           ['iowa',  'snatch',  'dead',  'find', 'look', ...
2006 India         ['ramsey',  'jun',  'die',  'jonbenet',  'pats...
...                                                              ...
2020 USA           ['young',  'batter',  'chicago',  'break',  'c...
2021 India         ['leader',  'world',  'aspire',  'role',  'mod...
     South Africa  ['reinhart',  'nation',  'bank',  'world',  'p...
     UK            ['tills',  'young',  'elderly',  'move',  'kin...
     USA           ['make',  'policy',  'scout',  'cookie',  'sal...

[66 rows x 1 columns]

In [107]:
df.set_index('time').groupby([pd.Grouper(freq = 'Y'), 'country']).sum()

KeyboardInterrupt:

In [103]:
freq

         time       country                                     clean_hl_words
0  2005-12-31         India  {''aug'': 2, ' 'son'': 2, ' 'monster'': 2, ' '...
1  2005-12-31  South Africa      {''monroe'': 1, ' 'stand'': 1, ' 'night'': 1}
2  2005-12-31            UK  {''call'': 1, ' 'kill'': 3, ' 'parent'': 1, ''...
3  2005-12-31           USA  {''iowa'': 1, ' 'snatch'': 1, ' 'dead'': 2, ' ...
4  2006-12-31         India  {''ramsey'': 1, ' 'jun'': 1, ' 'die'': 2, ' 'j...
..        ...           ...                                                ...
61 2020-12-31           USA  {''young'': 1, ' 'batter'': 1, ' 'chicago'': 1...
62 2021-12-31         India  {''leader'': 2, ' 'world'': 2, ' 'aspire'': 1,...
63 2021-12-31  South Africa  {''reinhart'': 1, ' 'nation'': 1, ' 'bank'': 1...
64 2021-12-31            UK  {''tills'': 1, ' 'young'': 1, ' 'elderly'': 2,...
65 2021-12-31           USA  {''make'': 1, ' 'policy'': 1, ' 'scout'': 1, '...

[66 rows x 3 columns]

In [98]:
print("There is " ,len(freq.reset_index()['time'].unique()), "year of data")

There is  17 year of data

In [99]:
freq = freq.reset_index()

In [18]:
freq

         time       country                                     clean_hl_words
0  2005-12-31         India  {''aug'': 2, ' 'son'': 2, ' 'monster'': 2, ' '...
1  2005-12-31  South Africa      {''monroe'': 1, ' 'stand'': 1, ' 'night'': 1}
2  2005-12-31            UK  {''call'': 1, ' 'kill'': 3, ' 'parent'': 1, ''...
3  2005-12-31           USA  {''iowa'': 1, ' 'snatch'': 1, ' 'dead'': 2, ' ...
4  2006-12-31         India  {''ramsey'': 1, ' 'jun'': 1, ' 'die'': 2, ' 'j...
..        ...           ...                                                ...
61 2020-12-31           USA  {''young'': 1, ' 'batter'': 1, ' 'chicago'': 1...
62 2021-12-31         India  {''leader'': 2, ' 'world'': 2, ' 'aspire'': 1,...
63 2021-12-31  South Africa  {''reinhart'': 1, ' 'nation'': 1, ' 'bank'': 1...
64 2021-12-31            UK  {''tills'': 1, ' 'young'': 1, ' 'elderly'': 2,...
65 2021-12-31           USA  {''make'': 1, ' 'policy'': 1, ' 'scout'': 1, '...

[66 rows x 3 columns]

In [100]:
import collections
freq['clean_hl_words'] = freq['clean_hl_words'].apply(lambda x: collections.Counter(x))

In [ ]:
def prop(list):

In [85]:
test = [1,1,1,0]
a = collections.Counter(test)

dict_values([3, 1])

In [102]:
freq

         time       country                                     clean_hl_words
0  2005-12-31         India  {''aug'': 2, ' 'son'': 2, ' 'monster'': 2, ' '...
1  2005-12-31  South Africa      {''monroe'': 1, ' 'stand'': 1, ' 'night'': 1}
2  2005-12-31            UK  {''call'': 1, ' 'kill'': 3, ' 'parent'': 1, ''...
3  2005-12-31           USA  {''iowa'': 1, ' 'snatch'': 1, ' 'dead'': 2, ' ...
4  2006-12-31         India  {''ramsey'': 1, ' 'jun'': 1, ' 'die'': 2, ' 'j...
..        ...           ...                                                ...
61 2020-12-31           USA  {''young'': 1, ' 'batter'': 1, ' 'chicago'': 1...
62 2021-12-31         India  {''leader'': 2, ' 'world'': 2, ' 'aspire'': 1,...
63 2021-12-31  South Africa  {''reinhart'': 1, ' 'nation'': 1, ' 'bank'': 1...
64 2021-12-31            UK  {''tills'': 1, ' 'young'': 1, ' 'elderly'': 2,...
65 2021-12-31           USA  {''make'': 1, ' 'policy'': 1, ' 'scout'': 1, '...

[66 rows x 3 columns]

In [101]:
def get_proportional_frequency(dict):
    return {k: 100*(v/ sum([v for k,v in dict.items()])) for k,v in dict.items()}

In [94]:
freq['clean_hl_words_prop']= freq['clean_hl_words'].apply(lambda x: get_proportional_frequency(x))

In [95]:
import json
df2 = freq.join(freq.clean_hl_words_prop.apply(pd.Series), how = 'left').melt(id_vars=['time', 'country', 'clean_hl_words', 'clean_hl_words_prop'])

In [ ]:
df2.drop(columns = ['clean_hl_words', 'clean_hl_words_prop'], inplace = True)

In [99]:
df2.dropna

              time       country   variable     value
0       2005-12-31         India      'aug'  0.450450
1       2005-12-31  South Africa      'aug'       NaN
2       2005-12-31            UK      'aug'       NaN
3       2005-12-31           USA      'aug'       NaN
4       2006-12-31         India      'aug'       NaN
...            ...           ...        ...       ...
5397343 2020-12-31           USA   'mynatt'       NaN
5397344 2021-12-31         India   'mynatt'       NaN
5397345 2021-12-31  South Africa   'mynatt'       NaN
5397346 2021-12-31            UK   'mynatt'       NaN
5397347 2021-12-31           USA   'mynatt'  0.943396

[5397348 rows x 4 columns]

In [100]:
df2.columns = ['time', 'country', 'word', 'prop_frequency']

In [102]:
df2['word'] = df2['word'].str.strip("'").str.strip("'")
#df['word']

In [104]:
df = df.merge(df2, on = ['time', 'country', 'word'])

In [22]:
df.drop(columns = ['clean_hl_words'], inplace = True)

In [175]:
df.drop(columns = ['clean_hl_words', 'clean_hl_freq'], inplace = True)

In [64]:
df['word'] = df['word'].str.strip("'").str.strip("'")
df['word']

In [107]:
df.to_csv('../data/processed/country_time_freq_rapi.csv')

In [2]:
import pandas as pd

In [13]:
df = pd.read_csv('../data/processed/country_time_freq_rapi.csv')

In [9]:
countries_freq = pd.read_csv('../data/processed/countries_freq_rapi.csv')

In [10]:
countries_freq.sort_values(by='frequency', ascending = False).head(20)

       Unnamed: 0    word  frequency country
10432           0    year       7656     USA
10433           1     new       7171     USA
10434           2     say       6755     USA
10435           3     man       6466     USA
10436           4     old       5386     USA
49863           0     man       4996      UK
49864           1    year       4563      UK
81554           0   india       4106   India
81555           1    year       3929   India
10437           5    gaga       3858     USA
10438           6    find       3826     USA
10439           7    kill       3626     USA
81556           2     man       3617   India
81557           3     old       3417   India
10440           8     get       3417     USA
81558           4  indian       3384   India
10441           9    baby       3199     USA
10442          10   trump       3190     USA
81559           5     say       3084   India
10443          11     die       2934     USA

In [24]:
df['time'] = pd.to_datetime(df['time'])

In [47]:
df1['word'] = df1['word'].str.strip(" '")

In [51]:
df1

         Unnamed: 0       time country      word  frequency  prop_frequency
67866         67866 2010-12-31   India    allege        NaN             NaN
67870         67870 2011-12-31   India    allege        NaN             NaN
67874         67874 2012-12-31   India    allege        NaN             NaN
67878         67878 2013-12-31   India    allege        NaN             NaN
67882         67882 2014-12-31   India    allege        NaN             NaN
...             ...        ...     ...       ...        ...             ...
3993574     3993574 2017-12-31   India  allegedy        1.0        0.000896
3993578     3993578 2018-12-31   India  allegedy        NaN             NaN
3993582     3993582 2019-12-31   India  allegedy        NaN             NaN
3993586     3993586 2020-12-31   India  allegedy        NaN             NaN
3993590     3993590 2021-12-31   India  allegedy        NaN             NaN

[84 rows x 6 columns]

In [90]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

word = 'kill'
country = 'India'

fig = make_subplots(rows = 1, cols = 2, subplot_titles=("trend by proportional frequency", "trend by frequency"))

df1 = df[(df['word']== word)& (df['country']==country)]
df1 = df1[df['time'].dt.year>2009]

fig.add_trace(go.Scatter( x = df1['time'], y=df1['prop_frequency']), row=1, col=1 )
fig.add_trace(go.Scatter( x = df1['time'], y=df1['frequency']), row=1, col=2 )

fig.update_layout(height = 500, width = 800, showlegend = False)

#fig = px.line(df1.sort_values(by = 'time', ascending = False), x = 'time', y ='prop_frequency')
fig.show()

<ipython-input-90-1731a88ef44f>:11: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.